<h1>Welcome to my Morse Code translator!</h1>

<h2 class='main'>
<a href="/tomorse">Click here to translate English to Morse code!</a>
</h2>

<h2 class='main'>
<a href="/toenglish">Click here to translate Morse code to English!</a>
</h2>



:)
